


.mapContainer {
  width: 100%;
  text-align: center;
}

.results {
  margin-top: 20px;
  padding: 15px;
  background-color: #FFF5CC;
  border-radius: 8px;
}

.map {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  margin-top: 24px;
}

.map h4, .map p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .map {
    height: 350px;
  }
}